<h1> <%="Here's a photo from #{@con.name} #{@con.start.year}" %> </h1>
<div class='col-lg-1'>
<p> <%= link_to image_tag(@photo.photo_url, height: "500"), @photo.photo_url %> </p>

<h2> Characters in this photo include: </h2>
	<% @char_tags.each do |ch_tag| %>
	<p> <%= Character.find_by(id: ch_tag.character).name %> </p>
	<% end %>

<h2> Users in this photo include: </h2>
</div>