<h1> <%="Here's a photo from #{@con.name} #{@con.start.year}" %> </h1>
<div>
    	<div class="dan-big-chart">
        	<%= link_to image_tag(@photo.photo_url), @photo.photo_url%>
    	</div>


<h2> Characters in this photo include: </h2>
	<% @characters.each do |char| %>
	<p> <%= char.name %> </p>
	<% end %>

<h2> Users in this photo include: </h2>
</div>
