body {
  font-family: 'Helvetica', sans-serif;
}
h2 { font-size: 48px; }

.chart {
  text-align: center;
  margin: 40px;
}
.col-md-4 {
  float: left;
  width: 300px;
}

.well {
  background: #111;
  padding: 5px;
  height: 250px;
  width: 300px;
}
/*.chart:hover {
  background: #fbf6ba;
}*/
.chart img {
  max-height: 250px;
  max-width: 300px;
}