<div class="mel-padding ">
  <h2>Add a new con</h2>


<div class='row'>
  <!-- RENDER THE FORM PARTIAL HERE. -->
  <%=render 'form' %>
</div>


  <%= link_to 'Back to the conventions list', cons_path %>

  <br>
</div>
