<p> <%= link_to "Add a photo", "/conventions/#{@con.id}/photos/add", class: 'btn btn-success pull-right add' %></p>
<%@photos.each do |photo| %>
	<div>
		<p> Here's a photo</p>
		<%= link_to image_tag(photo.photo_url), photo.photo_url%>
	</div>
<% end %>