<div class="page-header">
  <h1>Add a New Photo</h1>
</div>

<div class="row">
  <div class="col-md-6">

    <%= form_tag controller: :conventions, action: :new_photo, :method => 'post' do %>


      <div class="form-group">
        <%= label_tag :image_url %>
        <%= url_field_tag :image_url, "", class: 'form-control', placeholder: 'Enter URL to a photo image' %>
      </div>


      <%= submit_tag 'Add Photo', class: 'btn btn-default' %>
    <% end %>

  </div>
</div>

