<div class="mel-padding ">
  <h1>Sign up!</h1>


<div class='row'>
  <!-- RENDER THE FORM PARTIAL HERE. -->
  <%=render 'form' %>
</div>

</br>
  <%= link_to 'Back to the home page', root_url %>
</div>