<h2>Which character's page would you like to go to?</h2>

<% @chars.each do |char|%>
	<p> <%= link_to char.name, "/characters/#{char.id}" %> </p>
<% end %>

<% if session[:user_id] %>
<p> <%= link_to "Add a new character", "/characters/new", class: "btn btn-success" %> </p>
<% end %>